/*
DARK-THEME
*/
[data-sl-theme='dark']:where(.storylite-top-frame),
[data-sl-theme='dark']:where(.storylite-iframe--default-styles) {
  /* General */
  --storylite-font-color: #dfdfd7;
  --storylite-bg-color: #252529;

  --storylite-border-color: #29292c;
  /*--storylite-accent-color: #1fa7fd;*/

  /*--storylite-font-color-title: #878787;*/
  /*--storylite-bg-color-title: #070707;*/

  /* Muted */
  --storylite-font-color-muted: #999999;
  --storylite-border-color-muted: #484848;

  /* Panels */
  --storylite-font-color-panel: #dfdfd7;
  --storylite-bg-color-panel: #161618;

  /* Toolbars */
  --storylite-font-color-toolbar: #999999;
  --storylite-bg-color-toolbar: #1e1e20;

  /* Other */
  --storylite-grid-line-color: rgba(130, 130, 130, 0.35);
  --storylite-grid-line-color2: rgba(130, 130, 130, 0.175);
}

@media (prefers-color-scheme: dark) {
  [data-sl-theme='auto']:where(.storylite-top-frame),
  [data-sl-theme='auto']:where(.storylite-iframe--default-styles) {
    /* General */
    --storylite-font-color: #dfdfd7;
    --storylite-bg-color: #252529;

    --storylite-border-color: #29292c;
    /*--storylite-accent-color: #1fa7fd;*/

    /*--storylite-font-color-title: #878787;*/
    /*--storylite-bg-color-title: #070707;*/

    /* Muted */
    --storylite-font-color-muted: #999999;
    --storylite-border-color-muted: #484848;

    /* Panels */
    --storylite-font-color-panel: #dfdfd7;
    --storylite-bg-color-panel: #161618;

    /* Toolbars */
    --storylite-font-color-toolbar: #999999;
    --storylite-bg-color-toolbar: #1e1e20;

    /* Other */
    --storylite-grid-line-color: rgba(130, 130, 130, 0.35);
    --storylite-grid-line-color2: rgba(130, 130, 130, 0.175);
  }
}
