:where(.storylite-layout-center),
:where(.storylite-layout-center--pad) {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  max-height: 100vh;
}

.storylite-layout-center {
  grid-area: main;
}

:where(.storylite-layout-center--pad) {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-radius: 6px;
  border: 1px solid rgba(96, 96, 96, 0.16);
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.15);
}

[data-sl-theme='dark'] :where(.storylite-layout-center--pad) {
  border: 1px solid rgba(96, 96, 96, 0.2);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.45);
}

:where(.storylite-top-frame) .storylite-main {
  display: grid;
  /* grid-auto-flow: row; */
  grid-template-rows: 1fr auto;
  gap: 0.5rem;
  align-items: stretch;
}

:where(.storylite-top-frame) .storylite-layout-center {
  padding: 0.8rem;
  padding-left: 0;
  transition: padding 0.12s ease-in-out;
  flex: 1;
}

[data-sl-maximize='true']:where(.storylite-top-frame) .storylite-layout-center {
  padding: 0;
}

[data-sl-maximize='true'] :where(.storylite-layout-center--pad) {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

:where(.storylite-page404) {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #a6a6a6;
}

:where(.storylite-page404 *) {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
}

:where(.storylite-iframe--default-styles) {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  /*noinspection CssInvalidPropertyValue*/
  min-height: -webkit-fill-available;
  min-height: 100dvh;
}

[data-sl-theme='dark'] :where(.storylite-iframe--default-styles.storylite-iframe--standalone) {
  color: var(--storylite-font-color);
  background-color: var(--storylite-bg-color);
}

.storylite-iframe-element {
  position: relative;
  /* border: 1px solid var(--storylite-border-color-muted); */
  border: none;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: width 0.3s ease-in-out;
  overflow: auto;
}

.storylite-canvas-root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  background: transparent;
  transition: width 0.3s ease-in-out;
  overflow: auto;
  margin: 0 auto;
}
