* {
  position: relative;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
}

html {
  font-size: 16px;
  line-height: 1.6;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  position: initial;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  border: none;
  color: #000;

  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body,
#root {
  min-height: 100vh;
  /*noinspection CssInvalidPropertyValue*/
  min-height: -webkit-fill-available;
  min-height: 100dvh;
}

html[data-color-scheme='dark'],
html[data-color-scheme='dark'] body {
  background: #000;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  html[data-color-scheme='auto'],
  html[data-color-scheme='auto'] body {
    background: #000;
    color: #fff;
  }
}

svg {
  color: inherit;
}

a {
  color: var(--theme-color-primary);
  text-decoration: underline;
}
