:where(.storylite-top-frame),
:where(.storylite-iframe.default-styles) {
  /* General */
  --storylite-font-color: #333;
  --storylite-bg-color: #fcfcfc;

  --storylite-border-color: #d2d2d2;
  /*--storylite-accent-color: #1fa7fd;*/
  /*--storylite-color-primary: #7476ea;*/

  --storylite-color-primary: #1fa7fd;

  --storylite-font-color-title: inherit;
  --storylite-bg-color-title: transparent;

  /* Muted */
  --storylite-font-color-muted: rgba(0, 0, 0, 0.6);
  --storylite-border-color-muted: #e6e6e6;

  /* Panels */
  --storylite-font-color-panel: #444;
  --storylite-bg-color-panel: #f7f9fc;

  /* Toolbars */
  --storylite-font-color-toolbar: #999999;
  --storylite-bg-color-toolbar: #ffffff;

  /* Fonts */
  --storylite-font-size-base: 16px;
  --storylite-font-family-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --storylite-font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  /* Other */
  --storylite-grid-line-color: rgba(130, 130, 130, 0.5);
  --storylite-grid-line-color2: rgba(130, 130, 130, 0.25);
}
