**/node_modules/
**/.turbo/
dist/*
build/*
.next/*
.devcontainer/
.vscode/
**/public/
**/.cache
.local/
.vercel/
.history/
build/
dist/
node_modules/
.tmp/
.local/
.cache/
.next/
.turbo/
.vite/
*.min.js
**/**/coverage
.pnpm-store
generated/
.generated/
*.min.json
*.min.js
*.min.css
jest.*.ts
