# Ignore artifacts:
pnpm-lock.yaml
pnpm-workspace.yaml
build/
.next
dist/
.next/*
coverage/
.coverage/
node_modules/
public/
.ignore/
.turbo/
.vercel/
.local/
.history/
.pnpm-store/
.v8-compile-*
.turbo
node_modules
public/
.yarn/
.tmp/
.local/
.cache/
coverage/
pnpm-*.yaml
.history/
v8-compile-cache-*
.pnpm-store
.vercel/
.contentlayer/
.ignore/
generated/
.generated/
*.min.json
*.min.js
*.min.css
*.scss
*.sass
