[data-sl-grid='true'] .storylite-iframe-element {
  background-size:
    8rem 8rem,
    8rem 8rem,
    1rem 1rem,
    1rem 1rem !important;
  background-position:
    1rem 1rem,
    1rem 1rem,
    1rem 1rem,
    1rem 1rem !important;
  background-blend-mode: difference !important;
  background-image: linear-gradient(var(--storylite-grid-line-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--storylite-grid-line-color) 1px, transparent 1px),
    linear-gradient(var(--storylite-grid-line-color2) 1px, transparent 1px),
    linear-gradient(90deg, var(--storylite-grid-line-color2) 1px, transparent 1px) !important;
}
