[data-sl-responsive*='px'].storylite-iframe-element {
  border: 1px solid rgba(80, 80, 80, 0.5);
  box-shadow: 0 0 6px 1px rgba(80, 80, 80, 0.3);
  border-radius: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: auto;
  overflow: auto;
}

.sl-responsive-info {
  position: absolute;
  top: 1rem;
  right: 1rem;
  user-select: none;
  color: var(--storylite-font-color-muted);
  font-size: 0.8rem;
  font-family: var(--storylite-font-family-mono);
  z-index: 1000;
}
