#stories_Canvas[data-grid-visible='true'] {
  background-size: 8rem 8rem, 8rem 8rem, 1rem 1rem, 1rem 1rem !important;
  background-position: 1rem 1rem, 1rem 1rem, 1rem 1rem, 1rem 1rem !important;
  background-blend-mode: difference !important;
  background-image: linear-gradient(rgba(130, 130, 130, 0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(130, 130, 130, 0.5) 1px, transparent 1px),
    linear-gradient(rgba(130, 130, 130, 0.25) 1px, transparent 1px),
    linear-gradient(90deg, rgba(130, 130, 130, 0.25) 1px, transparent 1px) !important;
}
