.Layout {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  /*noinspection CssInvalidPropertyValue*/
  min-height: -webkit-fill-available;
  min-height: 100dvh;
}

html[data-color-scheme='dark'] .Standalone {
  color: var(--theme-font-color);
  background-color: var(--theme-bg-color);
}
