[data-sl-outline='true'] .storylite-story-section > * {
  outline: 1px solid #ff577e;
  outline-offset: 2px;
}

[data-sl-outline='true'] .storylite-story-section > * > * {
  outline: 1px solid #ffe609;
  outline-offset: 1px;
}

[data-sl-outline='true'] .storylite-story-section > * > * > * {
  outline: 1px solid #57ee31;
  outline-offset: 0;
}

[data-sl-outline='true'] .storylite-story-section > * > * > * > * {
  outline: 1px solid #37caff;
  outline-offset: -1px;
}
