.Sidebar {
  position: relative;
  padding: 0;
  background: var(--theme-bg-color-panel);
  color: var(--theme-font-color-panel);
  border-right: 1px solid var(--theme-border-color);
  transition: width 0.2s ease-in-out;
  transition-property: width, margin;
  width: 0;
  overflow: hidden;
  pointer-events: none;
  margin-left: -100px;
  margin-right: 100px;
}

.Sidebar[data-open='true'] {
  width: 220px;
  pointer-events: unset;
  margin-left: 0;
  margin-right: 0;
}

html[data-color-scheme='dark'] .Sidebar {
  border-color: transparent;
}

@media (prefers-color-scheme: dark) {
  html[data-color-scheme='auto'] .Sidebar {
    border-color: transparent;
  }
}

.Sidebar .Content {
  position: relative;
  min-width: 220px;
}

.Sidebar .Title {
  position: relative;
}

/* TITLE */
.SidebarTitle {
  padding: 1.2rem 0.8rem;
  font-weight: bold;
  color: var(--theme-font-color-SidebarTitle);
  background-color: var(--theme-bg-color-SidebarTitle);
  font-size: 1.2rem;
  line-height: 1rem;
  letter-spacing: -1px;
  text-align: left;
}

.SidebarTitle svg {
  width: 1.5rem;
  height: 1.5rem;
}

.SidebarTitle h1,
.SidebarTitle h2,
.SidebarTitle h3 {
  font-size: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

.SidebarTitle a {
  color: inherit;
  display: block;
  text-decoration: none;
  line-height: 1rem;
  /*font-size: 0.85rem;*/
  /*line-height: 1.15rem;*/
}

/* MENU NAV */

.SidebarNav ul,
.SidebarNav li {
  position: relative;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.SidebarNav li {
  display: flex;
  flex-direction: column;
}

.SidebarNav .ListBtn {
  all: unset;
  appearance: none;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1rem;
  color: inherit;
  display: flex;
  text-decoration: none;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.SidebarNav .ListBtn .Text,
.SidebarNav .ListBtn .Icon,
.SidebarNav .ListBtn .Icon svg {
  vertical-align: middle;
  display: inline-block;
}

.SidebarNav .ListBtn .Text {
  white-space: nowrap; /* Prevents the text from breaking into multiple lines */
  overflow: hidden; /* Hides any overflowing text */
  text-overflow: ellipsis; /* Shows an ellipsis at the end of the block */
}

.SidebarNav .ListBtn .Icon {
  margin-right: 5px;
}

.SidebarNav .ListBtn .Icon svg {
  width: 12px;
  height: 12px;
}

.SidebarNav .ListBtn:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

html[data-color-scheme='dark'] .SidebarNav .ListBtn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

html[data-color-scheme='dark'] .SidebarNav .Active .ListBtn:hover,
.SidebarNav .Active .ListBtn {
  background-color: var(--theme-color-primary);
  text-decoration: none;
  color: #fff;
}

.SidebarNav .WithNestedList .NestedList .ListBtn {
  padding-left: 2rem;
}

.SidebarNav .NestedList .Icon {
  color: var(--theme-color-primary);
}

.SidebarNav .NestedList .Active .Icon {
  color: inherit;
}
