.storylite-sidebar {
  position: relative;
  padding: 0;
  background: var(--storylite-bg-color-panel);
  color: var(--storylite-font-color-panel);
  /* border-right: 1px solid var(--storylite-border-color); */
  transition: width 0.12s ease-in-out;
  transition-property: width, height, margin;
  width: 0;
  overflow: auto;
  pointer-events: none;
  margin-left: -100px;
  margin-right: 100px;
  grid-area: sidebar;
}

[data-sl-maximize='false'] .storylite-sidebar {
  width: 220px;
  pointer-events: unset;
  margin-left: 0;
  margin-right: 0;
}

[data-sl-theme='dark'] .storylite-sidebar {
  border-color: transparent;
}

@media (prefers-color-scheme: dark) {
  [data-sl-theme='auto'] .storylite-sidebar {
    border-color: transparent;
  }
}

.storylite-sidebar-body {
  position: relative;
  min-width: 220px;
}

.storylite-sidebar-titleWrapper {
  position: relative;
}

/* TITLE */
.storylite-sidebar-title {
  padding: 1.2rem 0.8rem;
  font-weight: bold;
  color: var(--storylite-font-color-SidebarTitle);
  background-color: var(--storylite-bg-color-SidebarTitle);
  font-size: 1.2rem;
  line-height: 1rem;
  letter-spacing: -1px;
  text-align: left;
}

.storylite-sidebar-title svg {
  width: 1.5rem;
  height: 1.5rem;
}

.storylite-sidebar-title h1,
.storylite-sidebar-title h2,
.storylite-sidebar-title h3 {
  font-size: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

.storylite-sidebar-title a {
  color: inherit;
  display: block;
  text-decoration: none;
  line-height: 1rem;
  /*font-size: 0.85rem;*/
  /*line-height: 1.15rem;*/
}

/* MENU NAV */

.storylite-sidebar-nav ul,
.storylite-sidebar-nav li {
  position: relative;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.storylite-sidebar-nav li {
  display: flex;
  flex-direction: column;
}

.storylite-sidebar-nav .storylite-navbtn {
  all: unset;
  appearance: none;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1rem;
  color: inherit;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.storylite-sidebar-nav .storylite-navbtn .storylite-text,
.storylite-sidebar-nav .storylite-navbtn .storylite-icon,
.storylite-sidebar-nav .storylite-navbtn .storylite-icon svg {
  vertical-align: middle;
  display: inline-block;
  font-style: normal;
}

.storylite-sidebar-nav .storylite-navbtn .storylite-text {
  white-space: nowrap; /* Prevents the text from breaking into multiple lines */
  overflow: hidden; /* Hides any overflowing text */
  text-overflow: ellipsis; /* Shows an ellipsis at the end of the block */
}

.storylite-sidebar-nav .storylite-navbtn .storylite-icon {
  line-height: 12px;
  margin-right: 5px;
}

.storylite-sidebar-nav .storylite-navbtn .storylite-icon svg {
  width: 12px;
  height: 12px;
}

.storylite-sidebar-nav .storylite-navbtn:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

[data-sl-theme='dark'] .storylite-sidebar-nav .storylite-navbtn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

[data-sl-theme='dark'] .storylite-sidebar-nav .storylite-active .storylite-navbtn:hover,
.storylite-sidebar-nav .storylite-active .storylite-navbtn {
  background-color: var(--storylite-color-primary);
  text-decoration: none;
  color: #fff;
}

.storylite-active-children > .storylite-navbtn {
  color: var(--storylite-color-primary);
}

.storylite-sidebar-nav .storylite-with-nested .storylite-nested .storylite-navbtn {
  padding-left: 2rem;
}

.storylite-sidebar-nav .storylite-nested .storylite-icon {
  color: var(--storylite-color-primary);
}

.storylite-sidebar-nav .storylite-nested .storylite-active .storylite-icon {
  color: inherit;
}
