.storylite-story {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
}

.storylite-story-canvas {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 1rem;
  flex: 1;
}

.storylite-story--standalone .storylite-story-canvas {
  height: 100%;
}

.storylite-story .storylite-story-canvas > .storylite-story-component {
  position: relative;
}
