.storylite-story {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
}

.storylite-story-canvas {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 1rem;
  flex: 1;
}

.storylite-story--standalone .storylite-story-canvas {
  height: 100vh;
}

.storylite-story .storylite-story-canvas > .storylite-story-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
