.Toolbar {
  position: relative;
  padding: 0.75rem 0.5rem;
  background: var(--storylite-bg-color-toolbar);
  color: var(--storylite-font-color-toolbar);
  border-bottom: 1px solid var(--storylite-border-color-muted);
  font-family: var(--storylite-font-family-sans);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[data-sl-darkmode='true'] .Toolbar {
  border-color: transparent;
}

@media (prefers-color-scheme: dark) {
  [data-sl-darkmode='auto'] .Toolbar {
    border-color: transparent;
  }
}

.Toolbar .Btn,
.Toolbar a.Btn {
  border-radius: 0;
  /*border: 1px solid var(--storylite-border-color);*/
  border: none;
  background: var(--storylite-bg-color-toolbar);
  color: inherit;
  padding: 0;
  margin-left: 15px;
  min-width: 1.6rem;
  min-height: 1.6rem;
  text-align: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Toolbar .Btn svg {
  width: 0.85rem;
  height: 0.85rem;
  display: inline;
  vertical-align: middle;
}

.Toolbar .Btn:hover,
.Toolbar .Active {
  color: var(--storylite-color-primary);
}
