/*
* Styles for the example components and stories:
*/
.story-1 {
  color: green;
  font-size: 28px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border: 2px solid #333;
  transition: 0.3s;
  cursor: pointer;
}

.btn-default {
  background-color: #888;
  box-shadow: 0px 6px 0px -2px #555;
}

.btn-primary {
  box-shadow: 0px 6px 0px -2px #4391d1;
  background-color: #90caf9;
}

.btn:where(.btn-hoverable):active {
  box-shadow: 0 0 #fff;
  transform: translateY(1px);
}
