html,
body,
#root {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-height: 100dvh;
  background: transparent;
  font-size: 16px;
  line-height: 1.6;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  border: none;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background: transparent;
}

html,
body {
  color: #111;
}

[data-theme='dark'] {
  color: #eee;
}

.storylite-iframe,
.storylite-story {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  /*noinspection CssInvalidPropertyValue*/
  min-height: -webkit-fill-available;
  min-height: 100dvh;
  padding: 0;
  margin: 0;
}

.storylite-story {
  padding: 1rem;
}

.storylite-story--standalone {
  background: #eee;
}
[data-theme='dark'] .storylite-story--standalone {
  background: #111;
}

svg {
  color: inherit;
}

a {
  color: var(--storylite-color-primary);
  text-decoration: underline;
}
